
.container {
  position: sticky;
  top-margin: 0;
}

.hero {
  display: flex;
  margin-top: 64px;
  padding: 40px;
  /*background-color: blue;*/
}

.hero h1 {
  font-family: 'Lato', 'sans-serif';
  font-weight: 900;
  font-size: 56px;
}

.hero_text {
  padding-left: 0px;
}

.hero_text p {
  padding-top: 24px;
  color: darkgrey;
}

.hero img {
  height: 300px;
  border-radius: 12px;
}

body {
  position: sticky;
}

#wave {
  position: absolute;
  top: -800px;
  left: -200px;
  right: 0px;
  height: 1200px;
  width: 1200px;
  background: #fbe0dc;
  border-radius: 2000px;
  z-index: -1;
}

.create_button {
  margin-top: 20px;
  padding: 8px 24px;
  background-color: #34e3df;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}


